.cabecalho {
    height: 20vh;
    padding: 2%;
    background-color: #042940;
}

.conteudo {
    height: 80vh;
    background-color: #EEEEEE;
    padding: 20px;
}

.cartao {
    margin: 0 auto;
    text-align: center;
    padding: 1% 15%;
    width: 60vw;
    background-color: #d9d9d9;
}

.descricao {
    font-style: italic;
    margin-bottom: 3%;
}

.entradasDiv {
    text-align: center;
    display: inline-block;
    margin-bottom: 3%;
}

.entrada {
    margin: 0 auto;
    display: block;
}

.checkbox {
    float: left;
    margin-left: 10px;
}

#enviarButton {
    color: white;
    border: none;
    background-color: #042940;
    padding: 10px 60px;
}

#enviarButton:hover {
    background-color: #07598b;
    cursor: pointer;
}

.camada{
    display: none;
    background-color: gold;
}

[type="radio"]{
    height: 20px;
    width: 32px;
    background-color: gold;
}
